@font-face {
    font-family: 'MyFont';
    src: url(fonts/upheavtt.ttf) format('truetype')
}

body {
    font-family: 'MyFont', sans-serif;
}

#CuadroIndises{
    width: 190px;
  height: 254px;
  background: rgb(161, 42, 42);
  box-shadow: rgba(199, 30, 30, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    
}
h1 {
    text-decoration: underline;
    text-align: center;

}

p {
    
    color: #a8c73a;
}

img {
    border-radius: 30px;

}

div {
    text-align: center;

}

a {
    color: aliceblue;
}

video {
    border-radius: 30px;

}

li {
    color: beige;
}

h2 {
    text-decoration: underline;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    background-image: url(https://steamuserimages-a.akamaihd.net/ugc/579013736182782613/D48291AA6FCE3EDA51BDA61917684D07640C2411/?imw=1024&imh=576&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true);
    color: beige;
}

.Bases{
    display: flex;
    justify-content: space-between;
}  

.Tainteds{
    display: flex;
    justify-content: space-between;
}

.Conclucion{
    color: beige;
    text-align: end;
}